<section class="">
  <h1 class="addTaskHeaderSection">Add Task</h1>
  <img id="addTaskModalCloseBtn" class="addTaskModalClose" src="../assets/icons/closeGrey.svg" />
</section>

<section class="addTaskSection">
  <form id="addTaskForm" class="addTaskForm">
    <div class="inputContainer">
      <div class="inputContainerTop">
        <div class="singleInputContainer">
          <div class="redStarAfter">Title</div>
          <input id="taskTitle" type="text" placeholder="Enter a title" required maxlength="80" />
          <div class="formValidationText" style="display: none;">This field is required</div>
        </div>
        <div class="singleInputContainer">
          <div>Description</div>
          <textarea id="taskDescription" placeholder="Enter a Description" maxlength="240"></textarea>
        </div>
        <div class="singleInputContainer">
          <div>Assigned to</div>
          <div id="assignDropdown" class="assignContainer">
            <input id="assignSearch" type="search" class="contactsAssignStandard" value="Select contacts to assign" placeholder="Search contacts" readonly />
            <div id="assignDropArrowContainer" class="imgContainer">
              <img id="assignDropArrow" src="../assets/icons/arrowdropdown.svg" alt="" />
            </div>
            <div id="contactsAssigned" class="contactsAssigned"></div>
            <div id="contactsToAssign" class="contactsToAssign"></div>
          </div>
        </div>
      </div>

      <div class="seperatorLine"></div>

      <div class="inputContainerBottom">
        <div id="dateInputContainer" class="singleInputContainer">
          <div class="redStarAfter">Due date</div>
          <input id="dateInput" class="dateInput" type="date" placeholder="dd/mm/yyyy" required />
          <div class="formValidationText" style="display: none;">This field is required</div>
        </div>
        <div class="addTaskPrioContainer">
          <div>Prio</div>
          <div class="prioBtnContainer">
            <div class="prioBtn prioBtnUrgent" data-prio="urgent">
              <div>Urgent</div>
              <img class="priourgentsmallWhite" src="../assets/icons/priourgentsmallWhite.svg" />
              <img class="priourgentsmall" src="../assets/icons/priourgentsmall.svg" />
            </div>
            <div class="prioBtn prioBtnMedium prioBtnMediumActive" data-prio="medium">
              <div>Medium</div>
              <img class="priomediumsmallWhite" src="../assets/icons/priomediumsmallWhite.svg" />
              <img class="priomediumsmall" src="../assets/icons/priomediumsmall.svg" />
            </div>
            <div class="prioBtn prioBtnLow" data-prio="low">
              <div>Low</div>
              <img class="priolowsmallWhite" src="../assets/icons/priolowsmallWhite.svg" />
              <img class="priolowsmall" src="../assets/icons/priolowsmall.svg" />
            </div>
          </div>
        </div>

        <div class="singleInputContainer">
          <div class="redStarAfter">Category</div>
          <div id="selectWrapper" data-value="" class="select-wrapper categoryValue">
            <input id="categoryInput" class="categoryInput" type="text" value="" placeholder="Select task category" readonly required />
            <div class="formValidationText" style="display: none;">This field is required</div>
            <div class="imgContainer">
              <img id="categoryDropArrow" src="../assets/icons/arrowdropdown.svg" alt="" />
            </div>
            <div class="category-options">
              <p class="categoryValue" data-value="Technical Task" value="Technical Task">Technical Task</p>
              <p class="categoryValue" data-value="User Story" value="User Story">User Story</p>
            </div>
          </div>
        </div>

        <div class="singleInputContainer">
          <div>Subtasks</div>
          <div id="subtasksInputContainer" class="subtasksInputContainer">
            <input id="subtaskInput" class="subtasksInput" type="text" placeholder="Add new subtask" maxlength="80" />
            <img id="subtaskPlusIcon" class="subtaskPlusIcon" src="../assets/icons/addBlack.svg" />
            <div id="subtaskIconContainer" class="subtaskIconContainer dNone">
              <img id="subtaskDeleteIcon" class="icon" src="../assets/icons/delete.svg" />
              <div class="subtaskInputSeperator"></div>
              <img id="subtaskSaveIcon" class="icon" src="../assets/icons/checkBlackBig.svg" />
            </div>
          </div>
          <ul id="subtaskList" class="subtaskList"></ul>
        </div>
      </div>
    </div>

    <div class="bottomContainer">
      <div class="redStarBefore">This field is required</div>
      <div class="btnContainer">
        <div id="clearBtn" class="clearBtn">
          <div>Clear</div>
          <img class="clearFormIcon" src="../assets/icons/clearIcon.svg" />
          <img class="clearFormIconBlue" src="../assets/icons/clearIconBlue.svg" />
        </div>

        <button type="submit" id="createTaskBtn" class="createTaskBtn">
          <div>Create Task</div>
          <img src="../assets/icons/check.svg" />
        </button>
      </div>
    </div>
  </form>

  <div id="taskAddedBtn" class="taskAddedBtn d-None">
    <div>Task added to board</div>
    <img class="taskAddedBtnIcon" src="../assets/icons/boardIconWhite.svg" />
  </div>
</section>
